{% extends 'main.html'%}

{% load static %}

{% block content %}

<div class="forms-container">
    <form action="{% url 'simulation:applicant' %}"  method="post">
        {% csrf_token %}

            <div class="form-control">
                <label>Nom</label>
                <input name="lname" id="lname" type="text" class="information-form" placeholder="0">
            </div>
            {% comment %}
            <div class="form-control">
                <label>Pr&eacute;nom</label>
                <input name="name" type="text" class="information-form" placeholder="Entrez votre pr&eacute;nom">
            </div>
            <div class="form-control">
                <label>Date de naissance</label>
                <input name="name" type="text" class="information-form" placeholder="Entrez votre nom">
            </div>
            <div class="form-control">
                <label>Pays de naissance</label>
                <input name="name" type="text" class="information-form" placeholder="FRANCE">
            </div>
            <div class="form-control">
                <label>Ville de naissance</label>
                <input name="name" type="text" class="information-form" placeholder="ESSONNE">
            </div>
            {% endcomment %}

            <input type="submit" class="btn" value='suivant'>

            

        
        
    </form>


</div>

{% endblock %}