{% extends 'main.html'%}

{% load static %}

{% block content %}

<div class="forms-container">
    <form action="{% url 'simulation:sim' %}"  method="post">
        {% csrf_token %}       
            <div class="form-control">
                <label>Montant du pr&ecirc;t</label>
                <input name="amount" id="amount" type="number" class="information-form" placeholder="0">
            </div>
            <div class="form-control">
                <label>Durée</label>
                <input name="duration" id="duration" type="number" class="information-form" placeholder="0">
            </div>
            
            <input type="submit" class="btn" value='suivant'>
    </form>

</div>




{% endblock %}