{% load static %}

<!doctype html>
<html lang="fr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DU ANALYTICS CREDIT</title>
  <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>
<body>

    <div class="container">

        <!--Include Navigation Bar-->
        {% include 'base/navbar.html'%}
        <!--End Include Navigation Bar-->


		{% block content%}
        {% endblock%}


        <!--Include Footer-->
        {% include 'base/footer.html' %}
        <!--End Include Footer-->

        
    </div>
</body>
</html>
